$color-blue-light: #6a9ccd;
$color-blue: #3a5279;
$color-blue-dark: #204d74;
$color-orange: #ed9124;
$color-tan: #cc9;
$color-gray-light: #eee;
$color-gray: #ddd;
$color-black: #000;
$color-white: #fff;

$font-family: 'Avenir Next';
