@import 'normalize';
@import 'base';
@import 'clustergram';

html,
body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -120px;
}

.navbar-wrapper {
  background-color: $color-gray-light;
  border-bottom: 1px solid $color-gray;
  display: flex;
  height: 50px;
}

.navbar-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;

  a {
    color: $color-blue;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
  }
}

.content {
  margin: 0 100px;
}

.clustergram {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray;
  overflow: hidden;
  padding: 40px 0;

  @media all and (max-width: 580px) {
    display: none;
  }
}

.releases {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.dc-release {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid $color-gray-light;
}

.title {
  font-weight: 400;
}

.emph {
  font-weight: 700;
}

.highlight-primary {
  color: $color-blue;
}

.dc-rel-header {
  display: flex;
  justify-content: space-between;

  h4 {
    margin: 0;
    color: $color-blue;
  }
}

.status-released {
  color: $color-green;
}

.status-awaiting {
  color: $color-orange;
}

.dc-rel-info {
  p {
    margin: 0;
  }
}

.dc-rel-urls {
  padding-top: 20px;
  display: flex;
  justify-content: center;

  a {
    color: $color-blue-light;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      color: $color-blue;
    }
  }
}

.push {
  height: 180px;
}

.footer {
  height: 120px;
  background-color: $footer-background-color;
  border-top: 1px solid $footer-border-color;
}
